@using System.Threading
@using System.Globalization
@using BooksCatalogeMVC.CustomHtlmHelpers
@using DataAccessLayer.Models
@model DataAccessLayer.Models.Book

@{
    ViewBag.Title = "Details";
}
@{Thread.CurrentThread.CurrentCulture = new CultureInfo("fr-FR"); }
<h2 style="padding-left:15px;">@Html.DisplayFor(model => model.Title)</h2>
<div class="book-del">
    <a id="btn">
        <i class="glyphicon glyphicon-remove"></i>
    </a>
</div>

    <div id="ModalDet" class="modal-body">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Author.FullName)
            </dt>

            <dd>
                <a href=@Url.Action("Details","Authors", new { id = Model.Author.ID })>@Model.Author.FullName</a>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Country.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IssueDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IssueDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @if(Model.Description != null)
                {
                    if(Model.Description.Length>400)
                    {
                        @String.Concat(Model.Description.Substring(0, 400), "...")
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Description)
                    }
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageCount)
            </dd>
        </dl>
    </div>
    <div class="inline_buttons">
        @Html.ActionLink("More", "BookSummary", new { id = Model.Id }, new { @class = "btn btn-default " })
    </div>
    <div class="inline_buttons">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" } )
        }
    </div>
    <br />

<script>
    btn.onclick = function () {
        $("#action").modal("hide");
    }
</script>
